<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <form type="POST" action="/pirate">
      <h1>Your pirate's name: <input type="text" name="pirate[name]"></h1>
      <h1>Your pirate's weight: <input type="text" name="pirate[weight]"></h1>
      <h1>Your pirate's height: <input type="text" name="pirate[height]"></h1>
      <h1>Your ship's name: <input type="text" name="pirate[ship][name]"></h1>
      <h1>Your ship's type: <input type="text" name="pirate[ship][type]"></h1>
      <h1>Your ship's booty<input type="text" name="pirate[ship][booty]"></h1>
      <h1>Your ship's name: <input type="text" name="pirate[ship][name]"></h1>
      <h1>Your ship's type: <input type="text" name="pirate[ship][type]"></h1>
      <h1>Your ship's booty<input type="text" name="pirate[ship][booty]"></h1>
    </form>
  </body>
</html>
